body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}
#box1:hover{
    background-color: purple;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;

    animation-duration: 3s;
    animation-name: box2move;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.54, 0.63, 0.83, 0.67) ;
}

@keyframes box2move{
    from {left: 0vw;}
    to {left: 15vw;}
    from {top: 0vw;}
    to {top: 15vw;}
}